# CONFIG
DATA_PATH=./data/

# 15 min
QUEUE_TIMER=900000

# END CONFIG

HTTPS_SSL_CERT=
HTTPS_SSL_KEY=

# NOTE DO NOT USE "USERNAME" IT WILL TAKE THE USERNAME BASED ON THE USER LOGGED IN ON THE COMPUTER
# DEV
DEV_TELLUS_ENDPOINT=
DEV_TELLUS_USERNAME=
DEV_TELLUS_PASSWORD=

# ACC
TELLUS_ENDPOINT=
TELLUS_USERNAME=
TELLUS_PASSWORD=

# PROD
# TELLUS_ENDPOINT=
# TELLUS_USERNAME=
# TELLUS_PASSWORD=
